{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiCo Cafe</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="container-header">
            <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="FiCo Cafe Logo"></a>
            <div class="container-header-content">
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="footer-links">
                <ul>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#home">At Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            <p>&copy; 2024 FiCo Cafe. All rights reserved.</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
